body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  background-color: #f5fcff;
}
*::-webkit-scrollbar {
  width: 3px !important;
  height: 3px !important;
}

*::-webkit-scrollbar-track {
  background: rgb(179, 177, 177) !important;
  border-radius: 3px !important;
}

*::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136) !important;
  border-radius: 3px !important;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100) !important;
  border-radius: 3px !important;
}

*::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68) !important;
  border-radius: 3px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes slideBackground {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 100% 0; /* Adjust as needed */
  }
}

/* Apply the animation to an element */
.abc{
  background-image: url("network.png") !important;
  box-shadow: none;
  animation: slideBackground 20s linear infinite !important;
}

.image-container-left{
  scale:0.9;
  opacity: 0.5;
  /* animation: searchImg 10s ease-in-out infinite; */
}

@-webkit-keyframes searchContainer {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}
@-moz-keyframes searchContainer {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}
@keyframes searchContainer {
  0%{background-position:9% 0%}
  50%{background-position:92% 100%}
  100%{background-position:9% 0%}
}

@-webkit-keyframes searchImg {
  0%, 100% {scale:0.5;}
  50%{scale:0.7;} 
}
@-moz-keyframes searchImg {
  0%, 100% {scale:0.5;}
  50%{scale:0.7;} 
}
@keyframes searchImg {
  0%, 100% {scale:0.5;}
  50%{scale:0.7;} 
}

.app-container {
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  padding: 16px 8px;
  align-items: flex-start;
}

.content {
  flex: 1;
}

/* .MuiPaper-root{
  top: 86px !important;
} */